<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/"
            factory-class="org.knime.microsoft.r.RunRInMSSQLNodeFactory">
      </node>
      <node
            category-path="/labs/"
            factory-class="org.knime.microsoft.r.RunRInMSSQLNodeFactory2">
      </node>
   </extension>
   <extension
         point="org.knime.workflow.migration.NodeMigrationRule">
      <Rule
            class="org.knime.microsoft.r.RunRInMSSQLNodeMigrationRule">
      </Rule>
   </extension>
</plugin>
