<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Microsoft R Statistics Integration"
            icon="icons/r.png"
            level-id="ms-r"
            locked="true"
            name="Microsoft R"
            path="/scripting">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/scripting/ms-r"
            factory-class="org.knime.microsoft.r.DeployRToMSSQLNodeFactory">
      </node>
      <node
            category-path="/scripting/ms-r"
            factory-class="org.knime.microsoft.r.MSSQLRNodeFactory">
      </node>
   </extension>
</plugin>
