<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="templaterepository" name="RSnippet Template Repository" schema="schema/templaterepository.exsd"/>

   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RReaderTableNodeFactory"
            >
      </node>        
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RReaderWorkspaceNodeFactory"
            
            after="org.knime.r.RReaderTableNodeFactory">
      </node>
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RSnippetNodeFactory"
            
            after="org.knime.r.RReaderWorkspaceNodeFactory">
      </node>
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RViewNodeFactory"
            
            after="org.knime.r.RSnippetNodeFactory">
      </node>   
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RToViewNodeFactory"
            
            after="org.knime.r.RViewNodeFactory">
      </node>
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RToTableNodeFactory"
            
            after="org.knime.r.RToViewNodeFactory">
      </node>         
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.TableToRNodeFactory"
            
            after="org.knime.r.RToTableNodeFactory">
      </node>                             
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.AddTableToRNodeFactory"
            
            after="org.knime.r.RToRNodeFactory">
      </node>      
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RLearnerNodeFactory"
            
            after="org.knime.r.AddTableToRNodeFactory">
      </node>         
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RPredictorNodeFactory"
            
            after="org.knime.r.RLearnerNodeFactory">
      </node>        
      <node
            category-path="/scripting/r"
            factory-class="org.knime.r.RToPMMLNodeFactory"
            
            after="org.knime.r.RPredictorNodeFactory">
      </node>
      <node
            after="org.knime.r.TableToRNodeFactory"
            category-path="/scripting/r"
            factory-class="org.knime.r.RToRNodeFactory">
      </node>         
      <node
            category-path="/scripting/r/io"
            factory-class="org.knime.r.node.io.filehandling.rmodel.reader.RModelReaderNodeFactory" >
      </node>
      <node
            category-path="/scripting/r/io"
            after="org.knime.r.node.io.filehandling.rmodel.reader.RModelReaderNodeFactory"
            factory-class="org.knime.r.node.io.filehandling.rmodel.writer.RModelWriterNodeFactory">
      </node>
      <node
            deprecated="true"
            category-path="/scripting/r/io"
            factory-class="org.knime.r.ionodes.RPortObjectReaderNodeFactory" >
      </node>
      <node
            deprecated="true"
            category-path="/scripting/r/io"
            factory-class="org.knime.r.ionodes.RPortObjectWriterNodeFactory">
      </node>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.r.preferences.RPreferenceInitializer">
      </initializer>
   </extension>   
   <extension
         point="org.knime.r.templaterepository">
         <template-repository
               provider-class="org.knime.r.template.DefaultFileTemplateRepositoryProvider"
               id="org.knime.r.template.DefaultFileTemplateRepositoryProvider">
         </template-repository>
         <template-repository
               provider-class="org.knime.r.template.PluginFileTemplateRepositoryProvider"
               id="org.knime.r.template.PluginFileTemplateRepositoryProvider">
         </template-repository>                  
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="R Statistics Integration"
            icon="icons/r.png"
            level-id="r"
            locked="true"
            name="R"
            path="/scripting">
      </category>
      <category
            after="r-metanodes"
            icon="icons/r-io.png"
            level-id="io"
            name="IO"
            path="/scripting/r">
      </category>
      <category
            icon="icons/meta.png"
            level-id="r-metanodes"
            name="Meta Nodes"
            path="/scripting/r">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.metanode">
      <PersistedMetaNode
            category-path="/scripting/r/r-metanodes"
            icon="icons/r.png"
            id="grouped_scatterplot"
            name="Grouped ScatterPlot"
            workflowDir="metanode_templates/Grouped ScatterPlot/">
      </PersistedMetaNode>
      <PersistedMetaNode
            category-path="/scripting/r/r-metanodes"
            icon="icons/r.png"
            id="stacked_barchart"
            name="Stacked BarChart"
            workflowDir="metanode_templates/Stacked BarChart/">
      </PersistedMetaNode>
   </extension>
</plugin>
