<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="templaterepository" name="RSnippet Template Repository" schema="schema/templaterepository.exsd"/>

   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RSnippetNodeFactory"
            id="org.knime.r.RSnippetNodeFactory">
      </node>
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RToTableNodeFactory"
            id="org.knime.r.RToTableNodeFactory">
      </node>         
      <node
            category-path="/r/local"
            factory-class="org.knime.r.AddTableToRNodeFactory"
            id="org.knime.r.AddTableToRNodeFactory">
      </node>      
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RViewNodeFactory"
            id="org.knime.r.RViewNodeFactory">
      </node>   
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RToViewNodeFactory"
            id="org.knime.r.RToViewNodeFactory">
      </node>
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RLearnerNodeFactory"
            id="org.knime.r.RLearnerNodeFactory">
      </node>         
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RPredictorNodeFactory"
            id="org.knime.r.RPredictorNodeFactory">
      </node>        
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RToPMMLNodeFactory"
            id="org.knime.r.RToPMMLNodeFactory">
      </node>         
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RReaderTableNodeFactory"
            id="org.knime.r.RReaderTableNodeFactory">
      </node>        
      <node
            category-path="/r/local"
            factory-class="org.knime.r.RReaderWorkspaceNodeFactory"
            id="org.knime.r.RReaderWorkspaceNodeFactory">
      </node>
      <node
            category-path="/r/local"
            factory-class="org.knime.r.TableToRNodeFactory"
            id="org.knime.r.TableToRNodeFactory">
      </node>                             
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.r.preferences.RPreferencePage"
            id="org.knime.r.preferences.RPreferencePage"
            name="R (new)">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.r.preferences.RPreferenceInitializer">
      </initializer>
   </extension>   
   
   <extension
         point="org.knime.r.templaterepository">
         <template-repository
               provider-class="org.knime.r.template.DefaultFileTemplateRepositoryProvider"
               id="org.knime.r.template.DefaultFileTemplateRepositoryProvider">
         </template-repository>
         <template-repository
               provider-class="org.knime.r.template.PluginFileTemplateRepositoryProvider"
               id="org.knime.r.template.PluginFileTemplateRepositoryProvider">
         </template-repository>                  
   </extension>   
</plugin>
