<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/r"
            factory-class="org.knime.ext.r.node.RPlotterNodeFactory"
            id="org.knime.ext.r.node.RPlotterNodeFactory"/>
      <node
            category-path="/r"
            factory-class="org.knime.ext.r.node.RScriptingNodeFactory"
            id="org.knime.ext.r.node.RScriptingNodeFactory"/>
      <node
            category-path="/r"
            factory-class="org.knime.ext.r.node.RConsoleFactory"
            id="org.knime.ext.r.node.RConsoleFactory"/>
      <node
            category-path="/r-local"
            factory-class="org.knime.ext.r.node.local.RLocalScriptingNodeFactory"
            id="org.knime.ext.r.node.local.RLocalScriptingNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/r.png"
            level-id="r"
            name="R"
            path="/"/>
      <category
            icon="icons/r.png"
            level-id="r-local"
            name="R-Local"
            path="/">
      </category>
   </extension>
</plugin>
