<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/scripting/r/remote"
            deprecated="true"
            factory-class="org.knime.ext.r.node.RPlotterNodeFactory"
            />
      <node
            category-path="/scripting/r/remote"
            deprecated="true"
            factory-class="org.knime.ext.r.node.RPlotterNodeFactory2"
            />
      <node
            category-path="/scripting/r/remote"
            deprecated="true"
            factory-class="org.knime.ext.r.node.RConsoleFactory"
            />
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalScriptingNodeFactory"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalR2TableNodeFactory"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalRData2RNodeFactory"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalTable2RNodeFactory"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalViewsNodeFactory2"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalRViewsNodeFactory2"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalLearnerNodeFactory"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalPredictorNodeFactory"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.R2PMMLNodeFactory"
            >
      </node>
      <node
            category-path="/scripting/r/local"
            deprecated="true"
            factory-class="org.knime.ext.r.node.local.RLocalSourceNodeFactory"
            >
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            after="io"
            icon="icons/missing.gif"
            level-id="local"
            name="Local (deprecated)"
            path="/scripting/r">
      </category>
      <category
            after="local"
            icon="icons/missing.gif"
            level-id="remote"
            name="Remote (deprecated)"
            path="/scripting/r">
      </category>
   </extension>
</plugin>
